@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/questrial/v18/QdVUSTchPBm7nuUeVf70viFl.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400, 500, 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXh0pg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400, 500, 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    display: flex;
    flex-direction: column;
    padding: 25px 0px 0px 180px;
    font-size: 100%;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Questrial;
    z-index: inherit;
    min-height: 100%;
    margin: 0;
}
.questrial {
    font-family: Questrial;
}
.inter {
    font-family: Inter;
}
.montserrat {
    font-family: Montserrat;
}
.regular {
    font-size: 400;
}
.italic {
    font-style: italic;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
h1,
 h3 {
    font-family: Montserrat;
}
a {
    color: #286FB4;
    text-decoration: underline;
    cursor: pointer;
}
a:visited {
    color: #8a2be2;
}
a:hover {
    text-decoration: none;    
    color:#df4c73;
}
a:active {
    color: #286FB4;
}
.left {
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    background-color:#B0DDE4;
    color: #286FB4;
    height: 100%;
    z-index: 1;
}
.navbar {
    margin: 0;
    padding: 0;
    list-style: none;    
}
.navbar li {    
    margin: 1px 0;
    border: 1px solid #999;
}
.navbar li a {
    display: block;
    line-height: 3em;
    width: 100%;
    text-decoration: none;
}
.contenttable {
    border: 1px solid black;
    margin: auto;
}
.ProgressTimeline {
    padding: 25px;
}
.timeline {
    border: 1px solid black;
    float: right;
    position: relative;
}
.font-label,
    questrial {
        font-family: Questrial;
    }
.font-label,
    inter {
        font-family: Inter;
    }
footer {
    position: relative;
    bottom: 0; 
    left: 0; 
    background-color: #E2F0F9;
    width: 100%;
    max-height: 150px;
    min-height: 75px;
}
.footerlinks li {
    display: inline-block;
    margin-top: auto;
    z-index: 3;
    padding: 10px;
}